body{
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
}

/* navbar css starts here  */
.bg-light{
    background-color: #070202!important;
}

.navbar-brand{
    font-family: 'Sansita Swashed', cursive;
    font-size: 1.5rem;
    color: #eef1f5!important;
}

.nav-link{
    color: #0adbf7!important;
    font-family: 'Noto Sans JP', sans-serif;
}

.table-light:hover{
    cursor: default;
}

.table-info:hover{
    cursor: default;
}

.table-danger:hover{
    cursor: default;
}

.nav-link:hover{
    background-color: #9ea59e;
}
/* navbar css ends here  */

.my-info{
    padding: 2rem 5rem;
}

.my-info:hover{
    cursor: default;
}

.btn-info{
    padding: 1rem 1.2rem;
    background-color: rgb(201, 117, 250)!important;
    border-radius: 15px;
    color: rgb(8, 0, 0)!important;
    margin-left: 5px;
    padding: 0.75rem;
    transition: all 0.5s;
}

.btn-info:hover{
    background-color: rgb(159, 9, 228)!important;
}